.product-details {
    .thumbnail-images img {
      cursor: pointer;
      max-width: 100px;
      border: 2px solid transparent;
  
      &.border-primary {
        border-color: #007bff;
      }
    }
  
    .main-image {
      position: relative;
      img {
        width: 100%;
        height: auto;
      }
    }
  
    .custom-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 32px;
      height: 32px;
      background-color:rgba(29, 31, 34, 1);
      opacity: 0.75;
      color: white;
      border: none;
      border-radius: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      z-index: 1;
  
      &.left-button {
        left: 0;
      }
  
      &.right-button {
        right: 0;
      }
  
      &:hover {
        opacity: 0.8;
      }
    }
  
    .custom-attribute-button {
      margin-right: 5px;
      margin-bottom: 5px;
      padding: 5px 10px; // Подгоняем размер под текст
      background-color: #f8f9fa;
      border: 1px solid #ced4da;
      cursor: pointer;
  
      &.active {
        background-color:  rgba(29, 31, 34, 1);
        color: white;
        opacity: 0.75;
        border-color:  rgba(29, 31, 34, 1);
      }
  
      &:hover {
        opacity: 0.8;
      }
    }
  }
  
//  